{{- /* Video Duration Logic (Runs only if 'seconds' is passed) */ -}}
{{- if isset . "seconds" -}}
    {{- $seconds := .seconds | default 0 -}}
    {{- if le $seconds 0 -}}
        coming soon
    {{- else -}}
        {{- $hours := div $seconds 3600 -}}
        {{- $minutes := div (mod $seconds 3600) 60 -}}
        {{- $secs := mod $seconds 60 -}}
        {{- if gt $hours 0 -}}
            {{- printf "%d hr %d mins" $hours $minutes -}}
        {{- else -}}
            {{- printf "%d mins" $minutes -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- /* Text Duration Logic (Runs only if 'totalMinutes' is passed) */ -}}
{{- if isset . "totalMinutes" -}}
    {{- $totalMinutes := .totalMinutes | default 0 -}}
    {{- $hours := div $totalMinutes 60 -}}
    {{- $minutes := mod $totalMinutes 60 -}}

    {{- $formatMinutes := "" -}}
    {{- if ge $hours 1 -}}
        {{- $formatMinutes = printf "%dh %dm" $hours $minutes -}}
    {{- else -}}
        {{- $formatMinutes = cond (eq $totalMinutes 1) "1 min" (printf "%d mins" $totalMinutes) -}}
    {{- end -}}
    {{- $formatMinutes -}}
{{- end -}}
