{{- $color := .Get "color" | default (.Get 0 | default "gold") -}}
{{- $title := .Get "title" | default (.Get 1) -}}
{{- $icon  := .Get "icon"  | default (.Get 2) -}}
{{- $id    := .Get "id" -}}
<div {{ with $id }}id="{{ . }}"{{ end }}
  class="rs-callout rs-callout-panel rs-callout-{{ $color }}">
  {{- if or $title $icon -}}
  <div class="rs-callout__header">
    {{- with $icon -}}
    <span class="rs-callout__icon" aria-hidden="true">{{ . | safeHTML }}</span>
    {{- end -}}
    {{- with $title -}}
    <span class="rs-callout__title rs-callout__title--panel">{{ . }}</span>
    {{- end -}}
  </div>
  {{- end -}}
  <div class="rs-callout__body">{{- .Inner | markdownify -}}</div>
</div>