{{- $url := .Get 0 -}}
{{- $title := "Watch Video" -}}

{{/* Construct the YouTube oEmbed API URL */}}
{{- $apiURL := printf "https://www.youtube.com/oembed?url=%s&format=json" $url -}}

{{/* Fetch the data from YouTube at build time */}}
{{- with resources.GetRemote $apiURL -}}
  {{- with .Content -}}
    {{- $data := unmarshal . -}}
    {{- $title = $data.title -}}
  {{- end -}}
{{- end -}}

<div class="video-link-container">
  <a href="{{ $url }}" target="_blank" rel="noopener" class="video-btn" aria-label="Watch {{ $title }} on YouTube">
    <i class="fab fa-youtube" aria-hidden="true"></i>
    <span>{{ $title }}</span>
  </a>
</div>