{{- $url := .Get 0 -}}
{{- $title := "Watch Video" -}}

{{/* Construct the YouTube oEmbed API URL */}}
{{- $apiURL := printf "https://www.youtube.com/oembed?url=%s&format=json" $url -}}

{{/* Fetch the data from YouTube at build time */}}
{{- with resources.GetRemote $apiURL -}}
  {{- with .Content -}}
    {{- $data := unmarshal . -}}
    {{- $title = $data.title -}}
  {{- end -}}
{{- end -}}

<div class="video-link-container">
  <a href="{{ $url }}" target="_blank" rel="noopener" class="video-btn" aria-label="Watch {{ $title }} on YouTube">
    <span class="video-btn__icon" aria-hidden="true"><i class="fab fa-youtube"></i></span>
    <span class="video-btn__content">
      <span class="video-btn__eyebrow">Video</span>
      <span class="video-btn__title">{{ $title }}</span>
    </span>
  </a>
</div>
