{{- $id := .Get "id" -}}
{{- $title := .Get "title" -}}
{{- $thumbPath := .Get "thumbnail" -}}
{{- $sanitizedPath := trim $thumbPath "/" -}}
{{- $img := resources.Get $sanitizedPath -}}

<div class="playlist-container">
  <div class="youtube-lazy-load"
       onclick="this.innerHTML = '<iframe src=\'https://www.youtube.com/embed/videoseries?list={{ $id }}&autoplay=1\' frameborder=\'0\' allow=\'autoplay; encrypted-media\' allowfullscreen style=\'width:100%; height:100%; position:absolute; top:0; left:0;\'></iframe>';">

       {{- if $img -}}
          {{- $webp := $img.Process "webp" -}}
          <img src="{{ $webp.RelPermalink }}" alt="{{ $title }}" loading="lazy" class="youtube-lazy-load__image">
       {{- else -}}
          <img src="{{ $thumbPath | relURL }}" alt="{{ $title }}" loading="lazy" class="youtube-lazy-load__image">
       {{- end -}}

       <div class="youtube-lazy-load__overlay">
          <div class="youtube-lazy-load__play-button">
            <div class="youtube-lazy-load__play-icon"></div>
          </div>
       </div>
  </div>
  <p class="playlist-container__title">{{ $title }}</p>
</div>
